<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Curet Journal</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand nav-brand" href="#" id="brandname">Curet blog</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav navbar-right" id="nav-right">
          <li class="nav-item ">
            <a class="nav-link home" id="home" href="/">HOME </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="about" href="/about">ABOUT US</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="contact" href="/contact">CONTACT US</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="contact" href="/compose"> COMPOSE</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container">

