body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}
#brandname {
  font-size: 1.5rem;
  opacity: 0.8;
  text-transform: uppercase;
  margin-left: 1rem;
  display: flex;
  flex: 100;
}
.nav-brand {
  padding: 1.5rem 0;
}
.navbar {
  padding: 15px 1rem;
  letter-spacing: 5px;
  font-size: 1rem;
}
.navbar-nav li a:hover {
  color: #1abc9c !important;
}

.post-link {
  color: rgb(96, 18, 174);
  text-decoration: none;
}
.post-link:hover {
  color: rgb(96, 18, 174);
  text-decoration: none;
  cursor: pointer;
}
.compose-title {
  font-size: 0.8rem;
  font-weight: 700;
  font-family: sans-serif;
  letter-spacing: 2px;
}
.compose {
  width: 100%;
  border: solid rgba(210, 210, 206, 0.559);

  border-radius: 7px;
}
.compose-post {
  resize: none;
  height: 10rem;
}
.compose:focus {
  outline: none;
}
.content textarea:focus {
  outline: none;
}
.btn {
  margin-top: 1.5rem;
  border-radius: 10px;
  background-color: rgb(96, 18, 174);
  color: #fff;
  padding: 0.5rem 1.5rem;
}
.btn-2 {
  background-color: rgba(230, 219, 219, 0.445);
  border-radius: 10px;
  color: rgb(116, 109, 109);
  float: right;
}
.btn:hover {
  color: #fff;
  display: inline-block;
  transform: translateY(-4px);
  transition: 5s ease-in;
}

.button_id {
  font-size: 16px;
  color: rgba(164, 157, 172, 0.863);
  padding: 10px !important;
  cursor: pointer;
  transition: 0.54s ease-in-out;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.048),
    0 6px 20px 0 rgba(0, 0, 0, 0.027);
}
.button_id:hover {
  background-color: rgba(192, 24, 24, 0.918);
  transform: translateY(2px);
  color: #fff;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 50%;
  height: 14rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

/* The Close Button */
.close {
  float: right;
  font-size: 38px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-body {
  text-align: center;
}

.modal-body p {
  font-size: 20px;
  font-weight: 700;
  color: #888;
  margin-top: 30px;
}

.footer-padding {
  margin-bottom: 0;
}
.footer {
  position: fixed;
  text-align: center;
  bottom: 0;
  margin-top: auto;
  width: 100%;
  height: 60px;
  background-color: #1abc9c;
}
.footer p {
  margin-top: 22px;
  font-size: 1.2rem;
  color: #fff;
}
