body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}
#brandname {
  font-size: 1.5rem;
  opacity: 0.8;
  text-transform: uppercase;
  margin-left: 1rem;
  display: flex;
  flex: 100;
}
.nav-brand {
  padding: 1.5rem 0;
}
.navbar {
  padding: 15px 1rem;
  letter-spacing: 5px;
  font-size: 1rem;
}
.navbar-nav li a:hover {
  color: #1abc9c !important;
}

.post-link {
  color: rgb(96, 18, 174);
  text-decoration: none;
}
.post-link:hover {
  color: rgb(96, 18, 174);
  text-decoration: none;
  cursor: pointer;
}
.compose-title {
  font-size: 0.8rem;
  font-weight: 700;
  font-family: sans-serif;
  letter-spacing: 2px;
}
.compose {
  width: 100%;
  border: solid rgba(210, 210, 206, 0.559);

  border-radius: 7px;
}
.compose-post {
  resize: none;
  height: 10rem;
}
.compose:focus {
  outline: none;
}
.content textarea:focus {
  outline: none;
}
.btn {
  margin-top: 1.5rem;
  border-radius: 10px;
  background-color: rgb(96, 18, 174);
  color: #fff;
  padding: 0.5rem 1.5rem;
}
.btn-2 {
  background-color: rgba(230, 219, 219, 0.445);
  border-radius: 10px;
  color: rgb(116, 109, 109);
  float: right;
}
.btn:hover {
  color: #fff;
  display: inline-block;
  transform: translateY(-4px);
  transition: 5s ease-in;
}

.button_id {
  font-size: 16px;
  color: rgba(164, 157, 172, 0.863);
  padding: 10px !important;
  cursor: pointer;
  transition: 0.54s ease-in-out;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.048),
    0 6px 20px 0 rgba(0, 0, 0, 0.027);
}
.button_id:hover {
  background-color: rgba(192, 24, 24, 0.918);
  transform: translateY(2px);
  color: #fff;
}

.container__sub {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
